*{
    padding: 0;
    margin: 0;
}
div{
    display: inline-block;
    width: 30%;
    font-size: 25px;
    color: aliceblue;
    background: #000;
}
@media screen and (max-width:320px){
    p{
        color: black;
        background-color: aliceblue;
        font-size: 15px;
    }
    div{
        width: 100%;
    }
}
/* @media screen and (min-width:320px){
    p{
        color: black;
        background-color: aliceblue;
        font-size: 15px;
    }
    div{
        width: 100%;
    }
} */